* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    /* justify-content: space-between; */
}
.navbar {
    display: flex;
    /* justify-content: space-between; */
}
.menu {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.menu > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.menu a {
    text-decoration: none;
}

/* Utility Buttons */
nav .menu .btn {
    display: flex;
    /* justify-content: space-between; */
}